<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-12">
      <h1 class="mb-4">Sign <span class="text-primary">up</span></h1>
      <div class="color-line"></div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs row">
          <div class="col-md-6 col-12">
            <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
            <%= f.input :first_name,
                required: true,
                label: "First Name",
                input_html: { autocomplete: "first_name" }%>
            <%= f.input :last_name,
                required: true,
                label: "Last Name",
                input_html: { autocomplete: "last_name" }%>
            <%= f.input :display_name,
                required: true,
                label: "Username",
                input_html: { autocomplete: "display_name" }%>
          </div>
          <div class="col-md-6 col-12">
            <%= f.input :photo,
                as: :file,
                required: true,
                label: "Upload an avatar" %>
            <%= f.input :password,
                required: true,
                #hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="form-actions d-flex justify-content-center align-items-center my-5">
          <div class="w-100">
            <%= render "devise/shared/links" %>
          </div>
          <%= f.button :submit, "Register", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
