<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-12">
      <h1 class="mb-4">Reset <span class="text-primary">password</span></h1>
      <div class="color-line"></div>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions d-flex justify-content-center align-items-center my-5">
          <div class="w-100">
            <%= render "devise/shared/links" %>
          </div>
          <%= f.button :submit, "Reset password", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
