<nav class="navbar">
  <div class="d-flex" style="align-items:center">
    <span><i class="fa-solid fa-gamepad fa-2xl me-2"></i></span>
    <%= link_to root_path, class: "nav-link" do %>
      <span style="font-size: 32px">RENT-A-RETRO</span>
    <% end %>
  </div>
  <div class="login-logout">
    <h5>
      <% if user_signed_in? %>
        <div class="d-flex">
          <div class="d-flex">
            <%= link_to current_user.display_name, user_profile_path(current_user) %>
            <img src="https://kitt.lewagon.com/placeholder/users/papillar" class="avatar" alt="">
          </div>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      <% else %>
        <div class="d-flex">
          <span><%= link_to "Sign Up |", new_user_path, class: "nav-link" %></span>
          <span><%= link_to "| Login", new_user_session_path, class: "nav-link" %></span>
        </div>
      <% end %>
    </h5>
  </div>
</nav>
