<section id="hero-section" class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-6 pt-5 mb-md-0 mb-5">
      <div class="intro-container pe-3">
        <h1 class="mb-4">FIND THE BEST <br>
          <span class="text-primary">RETRO GAMES</span></h1>
        <div class="color-line"></div>
        <p class="mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        <%= form_with url: games_path, method: :get, class: "d-flex mb-4" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-3",
            placeholder: "Find a game"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Browse all games", games_path %>
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6">
      <div class="game-row row row-cols-md-2 row-cols-1">
        <% @games.each do |game|  %>
          <div class="col mb-3">
            <div class="game-card">
              <div class="card-picture" style="background-image: url('<%= game.photo.attached? ? cl_image_path(game.photo.key) : image_path("games/noimage.png") %>')">
                <div class="platform-icon-box">
                  <%= image_tag("games/snesicon.png", class:'platform-icon') %>
                  <%= image_tag("games/psxicon.png", class:'platform-icon') %>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <div class="card-details me-3">
                  <h5><%= game.name %></h5>
                  <p class="p-0">Released on <%= game.release_date %></p>
                </div>
                <div class="d-flex justify-content-end" style="height: fit-content;">
                  <%= link_to game_path(game), class: 'btn btn-outline-primary' do %>
                    <i class="fa-solid fa-arrow-right"></i>
                  <%end %>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
    <%# Deco elements %>
    <div class="white-line one"></div>
    <div class="white-line two"></div>
    <div class="white-line three"></div>
    <div class="blue-line one"></div>
  </div>
</section>
<section id="instruction-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-3">
        <h2>How it works</h2>
        <div class="color-line"></div>
        <p>Rent-a-Retro is an innovate service that allows users to lend and borrow games from a large community of retro gamers.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-3 text-center">
        <div class= "image-circle" style="background-image: url('assets/home/search.png')"></div>
        <p>Find the game you want to rent.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-3 text-center">
        <div class= "image-circle" style="background-image: url('assets/home/request.png')"></div>
        <p>Request an offer from another community member.</p>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-3 text-center">
        <div class= "image-circle" style="background-image: url('assets/home/play.png')"></div>
        <p>Play and pay per day. When finished just send it back.</p>
      </div>
    </div>
  </div>
</section>
<section id="image-section" class="container">
  <div class="row">
    <div class="offset-lg-1 offset-0 col-lg-5 col-md-6 col-12 mb-md-0 mb-3">
      <%= image_tag "pexels-nick-kwan-2614818.jpg", alt: "text", class: "img-fluid" %>
    </div>
    <div class="col-lg-5 col-md-6 col-12">
      <h2>Daily Statistics :</h2>
      <div class="color-line"></div>
      <p>Total games: <%= @allgames %>
        <p>
          <p>Current games on offer: <%= @allgameoffers %>
            <p>
              <p>Current offers: <%= @totaloffers %>
                <p>
                </div>
                <div class="white-line one"></div>
                <div class="white-line two"></div>
                <div class="white-line three"></div>
                <div class="blue-line one"></div>
              </div>
            </section>
