<section id="hero-section" class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-6 pt-5 mb-md-0 mb-5">
      <div class="intro-container pe-3">
        <h1 class="mb-4">FIND THE BEST <br>
          <span class="text-primary">RETRO GAMES</span></h1>
        <div class="color-line"></div>
        <p class="mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        <%= form_with url: games_path, method: :get, class: "d-flex mb-4" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-4",
            placeholder: "Find a game"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <%= link_to "Browse all games", games_path %>
      </div>
    </div>
    <div class="col-12 col-md-7 col-lg-6">
      <div class="game-row row row-cols-md-2 row-cols-1">
        <% @games.each do |game|  %>
          <div class="col mb-3">
            <%= render 'shared/card', game: game %>
          </div>
        <% end%>
      </div>
    </div>
    <%# Deco elements %>
    <div class="white-line one"></div>
    <div class="white-line two"></div>
    <div class="white-line three"></div>
    <div class="blue-line one"></div>
  </div>
</section>
<section id="instruction-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-10 mb-lg-0 offset-lg-0 offset-md-3 offset-1 mb-5">
        <h2>How it works</h2>
        <div class="color-line"></div>
        <p>Rent-a-Retro is an innovate service that allows users to lend and borrow games from a large community of retro gamers.</p>
      </div>
      <div class="col-lg-9 col-12">
        <div class="row">
          <div class="col-4 mb-lg-0 text-center">
            <div class= "image-circle mt-3" style="background-image: url('assets/home/search.png')"></div>
            <p>Find the game you want to rent.</p>
          </div>
          <div class="col-4 mb-lg-0 text-center">
            <div class= "image-circle mt-3" style="background-image: url('assets/home/request.png')"></div>
            <p>Request an offer from another community member.</p>
          </div>
          <div class="col-4 mb-lg-0 text-center">
            <div class= "image-circle mt-3" style="background-image: url('assets/home/play.png')"></div>
            <p>Play and pay per day. When finished just send it back.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="image-section" class="container">
  <div class="row">
    <div class="offset-lg-1 offset-0 col-lg-5 col-md-6 col-12 mb-md-0 mb-5">
      <%= image_tag "pexels-nick-kwan-2614818.jpg", alt: "text", class: "img-fluid" %>
    </div>
    <div class="col-lg-5 col-md-6 col-12">
      <h2>Daily Statistics :</h2>
      <div class="color-line"></div>
      <div class="row pt-md-5 pt-3">
        <div class="col text-center">
          <h1 class="mb-1">
            <span class="text-primary" data-controller="countup" data-countup-games-count-value="<%= @games_count %>" >
            </span></h1>
          <p>Games</p>
        </div>
        <div class="col text-center">
          <h1 class="mb-1"><span class="text-primary" data-controller="countup" data-countup-games-count-value="<%= @game_offers_count %>"></span></h1>
          <p>Offered Games</p>
        </div>
        <div class="col text-center">
          <h1 class="mb-1"><span class="text-primary" data-controller="countup" data-countup-games-count-value="<%= @offers_count %>"></span></h1>
          <p>Offers</p>
        </div>
      </div>
    </div>
    <div class="white-line one"></div>
    <div class="white-line two"></div>
    <div class="white-line three"></div>
    <div class="blue-line one"></div>
  </div>
</section>
