<section class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-5">
      <h1 class="mb-4">FIND THE BEST RETRO GAMES</h1>
      <div class="color-line"></div>
      <p class="mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
      <form class="d-flex gap-3 mb-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary form-button" type="submit">Search</button>
      </form>
      <%= link_to "browse all (list all games with offers)", games_path %>
    </div>
  </div>
  <div class="splash-wrap-right">
    <div class="game_card">
      <div class="game_art"><%= cl_image_tag @games.select { |game| !game.photo.key.nil? }.sample.photo.key %></div>
      <div class="game_card_info">
        <h5>Game title</h5>
        <p>release</p>
        <p>platform</p>
      </div>
    </div>
    <div class="game_card">
      <div class="game_art"><%= cl_image_tag @games.select { |game| !game.photo.key.nil? }.sample.photo.key %></div>
      <div class="game_card_info">
        <h5>Game title</h5>
        <p>release</p>
        <p>platform</p>
      </div>
    </div>
    <div class="game_card">
      <div class="game_art"><%= cl_image_tag @games.select { |game| !game.photo.key.nil? }.sample.photo.key %></div>
      <div class="game_card_info">
        <h5>Game title</h5>
        <p>release</p>
        <p>platform</p>
      </div>
    </div>
    <div class="game_card">
      <div class="game_art"><%= cl_image_tag @games.select { |game| !game.photo.key.nil? }.sample.photo.key %></div>
      <div class="game_card_info">
        <h5>Game title</h5>
        <p>release</p>
        <p>platform</p>
      </div>
    </div>
  </div>
</section>
<section class="how-does-it-work">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>HOW DOES IT WORK</h3>
        <div class="color-line"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, molestiae.</p>
      </div>
      <div class="col-sm mid-item">
        <div class= "circle-image"></div>
        <p>Lorem, ipsum dolor sit amet.</p>
      </div>
      <div class="col-sm mid-item">
        <div class= "circle-image"></div>
        <p>Lorem, ipsum dolor sit amet.</p>
      </div>
      <div class="col-sm mid-item">
        <div class= "circle-image"></div>
        <p>Lorem, ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</section>
<section class= bottom-section>
  <div class="img-wrap"><img src= "assets/pexels-nick-kwan-2614818.jpg" alt=""></div>
  <div class="txt-wrap">
    <h3>Lorem ipsum dolor sit amet.</h3>
    <div class="color-line"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero labore ab quae cumque placeat earum exercitationem? Laborum tempore sed ad.</p>
  </div>
</section>
