<div class="container">
  <div>
    <h3>Search Results for: GAME</h3>
  </div>
  <div class="results-display">
    <div class="me-5">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
        <li class="list-group-item">Filter</li>
      </ul>
    </div>
    <div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
        <% @games.each do |game| %>
          <div class="card-display">
            <div class="card-picture" style="background-image: url('<%= game.photo.attached? ? cl_image_path(game.photo.key) : image_path("games/noimage.png") %>')">
              <div class="platform-icon-box">
                <%= image_tag("games/snesicon.png", class:'platform-icon') %>
                <%= image_tag("games/psxicon.png", class:'platform-icon') %>
              </div>
            </div>
            <div class="card-details">
              <h6 class="mt-2"><%= game.name %></h6>
              <p>Release Year: 19XX</p>
              <%= link_to "Details", game_path(game), class: 'request-btn btn btn-light m-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
