<div class="container d-flex">
  <%= render "user/profile-nav" %>
  <div class="offers-container">
    <h1>My Offers</h1>
    <div class="row row-cols-2 row-cols-lg-3 row-cols-lg-4">
      <% @offers.each do |offer| %>
        <div class="col mb-4">
          <div class="game-card">
            <div class="card-picture" style="background-image: url('<%= offer.game.photo.attached? ? cl_image_path(offer.game.photo.key) : image_path("games/noimage.png") %>')">
              <div class="platform-icon-box">
              </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <div class="card-details me-3">
                <h5><%= offer.game.name %></h5>
                <p class="p-0">Platform: <%= offer.platform %></p>
                <p class="p-0">Price: <%= offer.price %></p>
                <%= link_to user_offer_path(offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <button type="button" class="btn btn-danger">Delete Offer</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
