<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">My <span class="text-primary">Offers</span></h1>
      <div class="color-line"></div>
    </div>
    <div class="col-2">
      <%= render "user/profile-nav" %>
    </div>
    <div class="col-10">
      <div class="row row-cols-2 row-cols-lg-3">
        <% @offers.each do |offer| %>
          <div class="col mb-4">
            <div class="game-card">
              <div class="card-picture" style="background-image: url('<%= offer.game.photo.attached? ? cl_image_path(offer.game.photo.key) : image_path("games/noimage.png") %>')">
                <div class="action-list">
                  <%= link_to user_offer_path(offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-circle-minus text-danger bg-white rounded-circle fa-2x"></i>
                  <% end %>
                </div>
              </div>
              <div class="mt-3">
                <div class="card-details">
                  <h5><%= offer.game.name %></h5>
                  <p>Platform: <%= offer.platform %></p>
                  <div class="rental-price">
                    <span>Price: <%= offer.price %>¥</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
