<h1>New Offer</h1>

<%= simple_form_for(@offer) do |f| %>
    <%= f.association :game, input_html: {data: {controller: "tom_select"}} %>
    <%= f.input :platform, collection: %w(NES SNES Genesis Megadrive playstation Playstation2), input_html: {data: {controller: "tom_select"}} %>
    <%= f.input :price %>
    <%= f.button :submit %>
<% end %>

<%= link_to "Cancel", root_path %>
