<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">My <span class="text-primary">profile</span></h1>
      <div class="color-line"></div>
    </div>
    <div class="col-2">
      <%= render "user/profile-nav" %>
    </div>
    <div class="col-10">
      <div class="row align-items-center">
        <div class="col-4">
          <%= current_user.photo.attached? ? cl_image_tag(current_user.photo.key, class:"rounded-circle w-100 shadow-sm", style:"width: 100%") : image_tag("https://kitt.lewagon.com/placeholder/users/papillar", class: "rounded-circle w-100 shadow-sm") %>
        </div>
        <div class="col-8">
          <div>
            <h2><%= current_user.display_name %></h2>
            <div class="color-line"></div>
            <p><%= current_user.first_name %> <%= current_user.last_name %></p>
            <p>Location: <%= current_user.location %></p>
            <p>Rating: </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
