<!DOCTYPE html>
<html>
  <head>
    <title>RentARetro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

  <nav class=navbar ><h1><i class="fa-solid fa-bars">
    </i>RENT-A-RETRO</h1>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <p>login</p>
  </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum dolorem eligendi cupiditate impedit totam sunt, neque architecto delectus ad.</p>
        </div>
        <div class="col-sm">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum dolorem eligendi cupiditate impedit totam sunt, neque architecto delectus ad.</p>
        </div>
        <div class="col-sm">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum dolorem eligendi cupiditate impedit totam sunt, neque architecto delectus ad.</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
